header {
  background-color: #c3f0ca;
  padding: 1px;
  text-align: center;
  font-size: 15px;
  
  color: #e0218A;
}
body{
  background-color: #ffc6c7;
}

div {
  border: 4px solid #c3f0ca;
  padding: 8px;
  width: 1050px;
  margin-left: auto;
  margin-right: auto;
}

footer {
  background-color: #c3f0ca;
  padding: 10px;
  text-align: center;
  color: #ff8ba7;
}