header {
  background-color: #c3f0ca;
  padding: 1px;
  text-align: center;
  font-size: 15px;
  
  color: #e0218A;
}
body{
  background-color: #ffc6c7;
}

footer {
  background-color: #c3f0ca;
  padding: 10px;
  text-align: center;
  color: #ff8ba7;
}